// Variables ----------------------------->

@import "../base/variables";

// Mixin ------------------------->

@import "../base/mixins";

// Barra de búsqueda que va en Inmobiliaria y en Desarrolladora ------------------------------------>

.barra-busqueda-propiedades {
  #barra-container {
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-color: $color1;
    @include display(flex, space-evenly, center, row nowrap);

    #buttons-barra {
      width: 200px;
      background-color: $color1;
      @include title-p($font, $sizegeneral, 500, $color2);
      border-radius: 20px;
      text-transform: uppercase;
    }
    #button-busqueda {
      width: 200px;
      height: 40px;
      border-radius: 20px;
      background-color: rgb(134, 116, 54);
      @include title-p($font, $sizegeneral, 500, $color2);
      border: 1px solid $color1;
      text-transform: uppercase;
    }
  }
}

// MEDIAS QUERY ------------------------------------->

@import "../base/mediaQuery";
