// Variables ----------------------------->

@import "../base/variables";

// Mixin ------------------------->

@import "../base/mixins";

// NAVBAR GENERAL ------------------------------>

#nav-general-pages {
    background-color: $color1;
    font-family: $font;
    font-size: 1em;
    padding: 15px;
    div {
      a {
        #logo {
          margin-left: 0.6em;
          width: 150px;
        }
      }
    }
    div {
      ul {
        #navbar-color-item {
          &:hover {
            transform: scale(1.1);
            transition: all 0.5s;
          }
          a {
            color: $color2;
            &:hover {
              color: $color3;
            }
          }
        }
      }
    }
  }

// MEDIAS QUERY ------------------------------------->

@import "../base/mediaQuery";
