// Variables ----------------------------->

@import "../base/variables";

// Mixin ------------------------->

@import "../base/mixins";

// Desarrolladora ---------------------------->

// Section principal -------------------------------->

.desarrolladora-section-principal-container {
  background-image: url("./../src/assets/fotos/quienesopaca.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  text-align: center;
  @include display(flex, center, center, column nowrap);
  padding: 130px;
  .h1-title {
    @include title-p($font, $sizetitulos, 500, $color2);
    text-transform: uppercase;
    text-align: center;
    opacity: 0.9;
  }
  .h2-title {
    @include title-p($font, $sizesubtitulos, 500, $color2);
    opacity: 0.7;
  }
}

// Section two -------------------------------->

.desarroladora-section-two-container {
  @include display(flex, center, center, row nowrap);
  padding: 100px 50px;
  width: 100%;
  div {
    img {
      border-radius: 10px;
      width: 100%;
    }
  }
  div {
    p {
      @include title-p($font, $sizegeneral, 400, $color1);
      padding-left: 2em;
      text-align: left;
    }
  }
}

// Section iconos desarrollos -------------------------------->

.desarralladora-section-icon-container {
  background-color: $color3;
  @include display(flex, space-evenly, center, column nowrap);
  padding: 50px;
  .h3-title {
    @include title-p($font, $sizesubtitulos, 500, $color1);
    margin-bottom: 100px;
    text-align: center;
  }
  .desarrolladora-div-icon-container {
    @include display(flex, space-evenly, flex-start, row nowrap);
    width: 100%;
    .desarrolladora-icon-container {
      @include display(flex, center, center, column nowrap);
      width: 20%;
      i {
        color: $color1;
        font-size: 50px;
      }
      p {
        @include title-p($font, $sizegeneral, 500, $color1);
        padding-top: 1.9em;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }
}

// Section nuestros proyectos, alianzas y desarrrollos de terceros -------------------------------->

.desarrolladora-section-proyectos-container {
  @include display(flex, center, center, column nowrap);
  padding: 1.2em;
  div {
    .h2-title {
      @include title-p($font, $sizeintermedio, 500, $color1);
      padding: 1.2em;
      text-transform: uppercase;
    }
  }
  .container-proyectos {
    padding: 0 2em 0 2em;
  }
}

.desarrolladora-section-alianzas-container {
  @include display(flex, center, center, column nowrap);
  padding: 1.2em;
  div {
    .h2-title {
      @include title-p($font, $sizeintermedio, 500, $color1);
      padding: 1.2em;
      text-transform: uppercase;
    }
  }
  .container-alianzas {
    padding: 0 2em 0 2em;
  }
}

.desarrolladora-section-terceros-container {
  @include display(flex, center, center, column nowrap);
  padding: 1.2em;
  div {
    .h2-title {
      @include title-p($font, $sizeintermedio, 500, $color1);
      padding: 1.2em;
      text-transform: uppercase;
    }
  }
  .container-terceros {
    padding: 0 2em 0 2em;
  }
}

#img-carrusel {
  img {
    border-radius: 10px;
  }
}

.texto-propiedades-desarrolladora {
  text-align: center;
  @include display(flex, center, center, column nowrap);
  .desarrolladora-paragraph-propiedades {
    @include title-p($font, $sizegeneral, 400, $color1);
  }

  .desarrolladora-paragraph-propiedades2 {
    @include title-p($font, $sizegeneral, 500, $color3);
  }

  #text-icons {
    @include title-p($font, $sizegeneral, 500, $color1);
    @include display(flex, center, center, row nowrap);
    .metros {
      padding-bottom: 2em;
      @include display(flex, center, center, row nowrap);
      margin: 0 7px;
      i {
        margin: 0 5px;
      }
      p {
        margin: 0 5px;
      }
    }

    .baños {
      padding-bottom: 2em;
      @include display(flex, center, center, row nowrap);
      margin: 0 7px;
      i {
        margin: 0 5px;
      }
      p {
        margin: 0 5px;
      }
    }

    .dormitorios {
      padding-bottom: 2em;
      @include display(flex, center, center, row nowrap);
      margin: 0 7px;
      i {
        margin: 0 5px;
      }
      p {
        margin: 0 5px;
      }
    }
  }
}
// MEDIAS QUERY ------------------------------------->

@import "../base/mediaQuery";
