// Variables ----------------------------->

@import "../base/variables";

// Mixin ------------------------->

@import "../base/mixins";

// Desarrolladora ---------------------------->

// Section principal -------------------------------->

.desarrolladora-section-principal-container {
  background-color: $color3;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  padding: 130px;
  .h1-title {
    @include title-p($font, $sizeintermedio, 600, $color1);
    text-transform: uppercase;
  }
  .h2-title {
    @include title-p($font, $sizeintermedio, 600, $color1);
    opacity: 0.9;
  }
  p {
    @include title-p($font, 1.3em, 600, $color1);
    opacity: 0.8;
  }
}

// Section two -------------------------------->

.desarroladora-section-two-container {
  display: flex;
  align-items: center;
  padding: 100px 50px;
  width: 100%;
  div {
    img {
      border-radius: 10px;
      width: 100%;
    }
  }
  div {
    p {
      @include title-p($font, $sizegeneral, 400, $color1);
      padding-left: 2em;
      text-align: left;
    }
  }
}

// Section iconos desarrollos -------------------------------->

.desarralladora-section-icon-container {
  background-color: $color3;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  padding: 100px 50px;
  .h3-title {
    @include title-p($font, $sizesubtitulos, 500, $color1);
    margin-bottom: 50px;
  }
  .desarrolladora-div-icon-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    .desarrolladora-icon-container {
      display: flex;
      align-items: center;
      flex-flow: column nowrap;
      i {
        color: $color1;
        font-size: 10vh;
      }
      p {
        @include title-p($font, $sizegeneral, 500, $color1);
        padding-top: 1.9em;
      }
    }
  }
}

// Section nuestros proyectos, alianzas y desarrrollos de terceros -------------------------------->

.desarrolladora-section-proyectos-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 1.2em;
  div {
    .h2-title {
      @include title-p($font, $sizeintermedio, 500, $color1);
      padding: 1.2em;
      text-transform: uppercase;
    }
  }
  .container-proyectos {
    padding: 0 2em 0 2em;
  }
}

.desarrolladora-section-alianzas-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 1.2em;
  div {
    .h2-title {
      @include title-p($font, $sizeintermedio, 500, $color1);
      padding: 1.2em;
      text-transform: uppercase;
    }
  }
  .container-alianzas {
    padding: 0 2em 0 2em;
  }
}

.desarrolladora-section-terceros-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 1.2em;

  div {
    .h2-title {
      @include title-p($font, $sizeintermedio, 500, $color1);
      padding: 1.2em;
      text-transform: uppercase;
    }
  }
  .container-terceros {
    padding: 0 2em 0 2em;
  }
}

#img-carrusel {
  img {
    border-radius: 10px;
  }
}

.texto-propiedades-desarrolladora {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  .desarrolladora-paragraph-propiedades {
    @include title-p($font, $sizegeneral, 400, $color1);
  }

  .desarrolladora-paragraph-propiedades2 {
    @include title-p($font, $sizegeneral, 500, $color3);
  }

  #text-icons {
    @include title-p($font, $sizegeneral, 500, $color1);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .metros {
      padding-bottom: 2em;
      display: flex;
      flex-flow: row wrap;
      margin: 0 7px;
      i {
        margin: 0 5px;
      }
      p {
        margin: 0 5px;
      }
    }

    .baños {
      padding-bottom: 2em;
      display: flex;
      flex-flow: row wrap;
      margin: 0 7px;
      i {
        margin: 0 5px;
      }
      p {
        margin: 0 5px;
      }
    }

    .dormitorios {
      padding-bottom: 2em;
      display: flex;
      flex-flow: row wrap;
      margin: 0 7px;
      i {
        margin: 0 5px;
      }
      p {
        margin: 0 5px;
      }
    }
  }
}
// MEDIAS QUERY ------------------------------------->

@import "../base/mediaQuery";
