// Variables ----------------------------->

@import "../base/variables";

// Mixin ------------------------->

@import "../base/mixins";

// Financiera ---------------------------->

// Section principal -------------------------------->

.financiera-section-principal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-image: url("./../src/assets/fotos/quienesopaca.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 9em 6.3em 12em 6.3em;
  .h1-title {
    @include title-p($font, $sizetitulos, 700, $color2);
  }
  .h2-title {
    @include title-p($font, $sizeintermedio, 600, $color2);
  }
  p {
    @include title-p($font, 1.5em, 500, $color2);
    text-align: center;
    margin-top: 1.1em;
  }
}

// Section iconos -------------------------------->

.financiera-section-icon-container {
  background-color: $color3;
  padding: 6.3em 3.2em 0 3.2em;
  .financiera-div-icon-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 6.3em;
    .financiera-icon-container {
      display: flex;
      flex-flow: column;
      align-items: center;
      i {
        font-size: 10vh;
        color: $color1;
      }
      p {
        @include title-p($font, 1.5em, 500, $color1);
        text-align: center;
        margin-top: 1.1em;
      }
    }
  }
  .financiera-icon-button-container {
    padding-top: 3.2em;
  }
}

// Section formulario -------------------------------->

.financiera-section-formulario-container {
  .financiera-titulo-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 2em;
    .h3-title {
      @include title-p($font, $sizesubtitulos, 600, $color1);
    }
    p {
      @include title-p($font, $sizegeneral, 500, $color1);
      text-align: center;
      margin-top: 1.1em;
    }
  }
}

// MEDIAS QUERY ------------------------------------->

@import "../base/mediaQuery";
