// Variables ----------------------------->

@import "../base/variables";

// Mixin ------------------------->

@import "../base/mixins";

// Financiera ---------------------------->

// Section principal -------------------------------->

.financiera-section-principal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-image: url("./../src/assets/fotos/principalofi.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  padding: 200px 30px;
  .h1-title {
    @include title-p($font, $sizetitulos, 600, $color2);
    text-transform: uppercase;
    opacity: 0.9;
  }
  .h2-title {
    @include title-p($font, $sizeintermedio, 500, $color2);
    opacity: 0.9;
  }
  p {
    @include title-p($font, 1.5em, 500, $color2);
    text-align: center;
    margin-top: 1.1em;
    opacity: 0.7;
  }
}

// Section iconos -------------------------------->

.financiera-section-icon-container {
  background-color: $color3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 150px 50px;
  .financiera-icon-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    i {
      font-size: 10vh;
      color: $color1;
    }
    p {
      @include title-p($font, $sizegeneral, 500, $color1);
      text-align: center;
      margin-top: 1.1em;
    }
  }
}

// Section formulario -------------------------------->

.financiera-section-solicitar-container {
  padding: 50px;
  .financiera-titulo-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    .h3-title {
      @include title-p($font, $sizesubtitulos, 500, $color1);
      text-align: center;
    }
    p {
      @include title-p($font, $sizegeneral, 500, $color1);
      text-align: center;
      margin: 1.1em;
    }
  }
  .financiera-icon-button-container {
    display: flex;
    justify-content: center;
    #boton-solicitar {
      border-radius: 20px;
    }
  }
}

// MEDIAS QUERY ------------------------------------->

@import "../base/mediaQuery";
