// Variables ----------------------------->

@import "../base/variables";

// Mixin ------------------------->

@import "../base/mixins";

// Financiera ---------------------------->

// Section principal -------------------------------->

.financiera-section-principal-container {
  @include display(flex, center, center, column nowrap);
  background-image: url("./../src/assets/fotos/principalofi.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  padding: 200px 30px;
  .h1-title {
    @include title-p($font, $sizetitulos, 500, $color2);
    text-transform: uppercase;
    opacity: 0.9;
  }
  .h2-title {
    @include title-p($font, $sizeintermedio, 500, $color2);
    opacity: 0.9;
  }
  p {
    @include title-p($font, 1.5em, 400, $color2);
    text-align: center;
    margin-top: 1.1em;
    opacity: 0.7;
  }
}

// Section iconos -------------------------------->

.financiera-section-icon-container {
  background-color: $color3;
  @include display(flex, space-evenly, flex-start, row nowrap);
  padding: 100px 50px;
  width: 100%;
  .financiera-icon-container {
    @include display(flex, center, center, column nowrap);
    width: 20%;
    i {
      font-size: 45px;
      color: $color1;
    }
    p {
      @include title-p($font, $sizegeneral, 400, $color1);
      text-align: center;
      margin-top: 1.1em;
      text-transform: uppercase;
    }
  }
}

// Section formulario -------------------------------->

.financiera-section-solicitar-container {
  padding: 50px;
  .financiera-titulo-container {
    @include display(flex, center, center, column nowrap);
    .h3-title {
      @include title-p($font, $sizesubtitulos, 500, $color1);
      text-align: center;
    }
    p {
      @include title-p($font, $sizegeneral, 500, $color1);
      text-align: center;
      margin: 1.1em;
    }
  }
  .financiera-icon-button-container {
    @include display(flex, center, center, row nowrap);
    #boton-solicitar {
      border-radius: 20px;
    }
  }
}

// MEDIAS QUERY ------------------------------------->

@import "../base/mediaQuery";
