// Variables ------------------------->

@import "../base/variables";

// Mixin ------------------------->

@import "../base/mixins";

// Index ------------------------->

// Secci贸n unidades de negocios ---------------------------->

.section-unidades-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  padding: 5em 0 6em 0;
  .div-titulos-unidades-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    div {
      .h2-title {
        @include title-p($font, $sizesubtitulos, 600, $color1);
      }
    }
    div {
      p {
        @include title-p($font, 1.3em, 500, $color1);
        padding: 1em 1em 2em 1em;
        text-align: center;
        letter-spacing: normal;
      }
    }
  }
  .div-unidades-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 16em;
      width: 16em;
      border-radius: 1.2em;
      border: 1px solid rgb(240, 240, 240);
      border-bottom: 0.7em solid $color3;

      &:hover {
        background-color: rgb(238, 238, 238);
        box-shadow: 0px 0px 90px rgba(41, 44, 28, 0.08);
        transition: all 0.5s;
        border: 1px solid rgb(226, 226, 226);
        border-bottom: 0.7em solid $color3;
      }
    }

    a {
      color: $color1;
      text-decoration: none;
      .h3-title {
        @include title-p($font, $sizesubtitulos, 500, $color1);
      }
    }
  }
}

// Secci贸n nosotros ----------------------------------------->

.section-nosotros-container {
  display: flex;
  padding: 3em;
  div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 2.5em;
    div {
      .h3-title {
        @include title-p($font, $sizesubtitulos, 600, $color1);
      }
    }
    div {
      p {
        @include title-p($font, $sizegeneral, 400, $color1);
        text-align: justify;
      }
    }
  }
  div {
    .video-institucional-index {
      width: 50vw;
      border-radius: 10px;
    }
  }
}

// Secci贸n formulario ----------------------------------------->

.container-contacto {
  width: 100%;
  height: auto;
  background-color: $color3;
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-flow: column;
    background-color: $color2;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 20px;
    margin: 50px 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 50px;

    .h3-title {
      @include title-p($font, $sizetitulos, 600, $color1);
      padding-top: 1em;
      text-align: center;
      width: 80%;
    }
    p {
      @include title-p($font, $sizegeneral, 500, $color1);
      text-align: center;
      width: 80%;
    }
    input,
    textarea {
      border: none;
      resize: none;
      outline: none;
      padding: 15px 0px;
      width: 80%;
      margin: 5px;
      transition: all 300ms;
      border-bottom: 1px solid $color1;
      overflow-y: hidden;
      @include title-p($font, $sizegeneral, 400, $color1);

      &:focus {
        border-bottom: 1px solid $color3;
      }
    }

    button {
      border: none;
      outline: none;
      background: $color3;
      padding: 15px;
      border-radius: 2px;
      width: 200px;
      @include title-p($font, $sizegeneral, 400, $color1);
      box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
      margin: 20px 0;
      cursor: pointer;
      transition: all 300ms;

      &:hover {
        transform: scale(1.05);
        box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 10px;
      }
    }
  }
}

// Secci贸n suscribite ----------------------------------------->

.section-suscribite-container {
  background-color: $color1;
  padding: 1em 0 1em 0;
  display: flex;
  justify-content: space-evenly;
  div {
    p {
      @include title-p($font, $sizesubtitulos, 500, $color2);
    }
  }
  .subcribite-form {
    .email-subscribite {
      font-size: $sizegeneral;
      border-radius: 12px;
    }
    .text-small {
      @include title-p($font, 12px, 300, $color2);
    }
  }
  .boton-subscribite {
    margin-top: 10px;
    @include title-p($font, 14px, 300, $color3);
    border-radius: 10px;
    background-color: $color1;
    padding: 9px;
  }
}

// MEDIAS QUERY ------------------------------------->

@import "../base/mediaQuery";
