// Variables ------------------------->

@import "../base/variables";

// Mixin ------------------------->

@import "../base/mixins";

// Index ------------------------->

// Sección principal ---------------------------->

.section-principal-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-image: url("./../src/assets/fotos/principal.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: auto;
  div {
    .h1-title {
      @include title-p($font, $sizetitulos, 700, $color1);
    }
  }
  div {
    p {
      @include title-p($font, $sizesubtitulos, 500, $color1);
    }
  }
}

// Sección unidades de negocios ---------------------------->

.section-unidades-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  padding: 5em 0 6em 0;
  .div-titulos-unidades-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    div {
      .h2-title {
        @include title-p($font, $sizesubtitulos, 600, $color1);
      }
    }
    div {
      p {
        @include title-p($font, 1.3em, 500, $color1);
        padding: 1em 1em 2em 1em;
        text-align: center;
        letter-spacing: normal;
      }
    }
  }
  .div-unidades-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 16em;
      width: 16em;
      border-radius: 1.2em;
      border: 1px solid rgb(240, 240, 240);
      border-bottom: 0.7em solid $color3;

      &:hover {
        background-color: rgb(238, 238, 238);
        box-shadow: 0px 0px 90px rgba(41, 44, 28, 0.08);
        transition: all 0.5s;
        border: 1px solid rgb(226, 226, 226);
        border-bottom: 0.7em solid $color3;
      }
    }

    a {
      color: $color1;
      text-decoration: none;
      .h3-title {
        @include title-p($font, $sizeintermedio, 500, $color1);
      }
    }
  }
}

// Sección nosotros ----------------------------------------->

.section-nosotros-container {
  display: flex;
  padding: 3em;
  div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 2.5em;
    div {
      .h3-title {
        @include title-p($font, $sizesubtitulos, 600, $color1);
      }
    }
    div {
      p {
        @include title-p($font, $sizegeneral, 400, $color1);
        text-align: justify;
      }
    }
  }
  div {
    .video-institucional-index {
      width: 50vw;
    }
  }
}

// Sección formulario ----------------------------------------->

.section-formulario-container {
  display: flex;
  flex-flow: column wrap;
  background-color: $color3;
  .titulo-formulario-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 2.5em;
    .h2-title {
      @include title-p($font, $sizeintermedio, 600, $color1);
    }
    p {
      @include title-p($font, 2em, 500, $color1);
    }
  }
  .formulario-contacto {
    @include title-p($font, $sizegeneral, 400, $color1);
    margin-top: 0.7em;
    padding-left: 20em;
    padding-bottom: 2em;
  }
}

// Sección suscribite ----------------------------------------->

.section-suscribite-container {
  background-color: $color1;
  @include title-p($font, $sizesubtitulos, 500, $color2);
  padding: 1em 0 1em 0;
  display: flex;
  justify-content: space-evenly;
}

// MEDIAS QUERY ------------------------------------->

@import "../base/mediaQuery";
