// Variables ----------------------------->

@import "../base/variables";

// Mixin ------------------------->

@import "../base/mixins";

// Inmobiliaria ---------------------------->

// Section principal -------------------------------->

.inmobiliaria-section-principal-container {
  background-color: $color3;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .inmobiliaria-titulos-container {
    text-align: center;
    color: $color1;
    .h1-title {
      @include title-p($font, $sizetitulos, 600, $color1);
      text-transform: uppercase;
    }
    .h2-title {
      @include title-p($font, $sizeintermedio, 500, $color1);
      opacity: 0.5;
    }
  }
}

// Section propiedades destacadas -------------------------------->

.inmobiliaria-section-destacadas {
  display: flex;
  align-items: center;
  flex-direction: column;
  .inmobiliaria-propiedades-destacadas {
    padding: 4.5em;
    .h2-title {
      @include title-p($font, $sizeintermedio, 500, $color1);
      text-transform: uppercase;
    }
  }
  .container-destacadas {
    padding: 0 2em 0 2em;
  }
  .texto-propiedades-inmobiliaria {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    .inmobiliaria-paragraph-propiedades {
      @include title-p($font, $sizegeneral, 400, $color1);
    }

    .inmobiliaria-paragraph-propiedades2 {
      @include title-p($font, $sizegeneral, 500, $color3);
    }

    .inmobiliaria-icons {
      @include title-p($font, $sizegeneral, 500, $color1);
      display: flex;
      justify-content: center;

      .metros {
        padding-bottom: 2em;
        display: flex;
        margin: 0 7px;
        i {
          margin: 0 5px;
        }
        p {
          margin: 0 5px;
        }
      }

      .baños {
        padding-bottom: 2em;
        display: flex;
        margin: 0 7px;
        i {
          margin: 0 5px;
        }
        p {
          margin: 0 5px;
        }
      }

      .dormitorios {
        padding-bottom: 2em;
        display: flex;
        margin: 0 7px;
        i {
          margin: 0 5px;
        }
        p {
          margin: 0 5px;
        }
      }
    }
  }
}

// Section emprendimientos -------------------------------->

.inmobiliaria-section-emprendimientos {
  padding-bottom: 2em;
  .inmobiliaria-emprendimientos {
    display: flex;
    justify-content: center;
    padding: 5em;
    .h2-title {
      @include title-p($font, $sizeintermedio, 500, $color1);
      text-transform: uppercase;
    }
  }
  .container-emprendimientos {
    padding: 0 2em 0 2em;
  }
  .texto-propiedades-inmobiliaria {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    .inmobiliaria-paragraph-propiedades {
      @include title-p($font, $sizegeneral, 400, $color1);
    }

    .inmobiliaria-paragraph-propiedades2 {
      @include title-p($font, $sizegeneral, 500, $color3);
    }

    .inmobiliaria-icons {
      @include title-p($font, $sizegeneral, 500, $color1);
      display: flex;
      justify-content: center;

      .metros {
        padding-bottom: 2em;
        display: flex;
        margin: 0 7px;
        i {
          margin: 0 5px;
        }
        p {
          margin: 0 5px;
        }
      }

      .baños {
        padding-bottom: 2em;
        display: flex;
        margin: 0 7px;
        i {
          margin: 0 5px;
        }
        p {
          margin: 0 5px;
        }
      }

      .dormitorios {
        padding-bottom: 2em;
        display: flex;
        margin: 0 7px;
        i {
          margin: 0 5px;
        }
        p {
          margin: 0 5px;
        }
      }
    }
  }
}

// MEDIAS QUERY ------------------------------------->

@import "../base/mediaQuery";
