// Variables ----------------------------->

@import "../base/variables";

// Mixin ------------------------->

@import "../base/mixins";

// Nosotros ---------------------------->

// Section principal -------------------------------->

.video-container-nosotros video {
  width: 100%;
  height: auto;
}

// Section one -------------------------------->

.nosotros-section-principal-container {
  @include display(flex, center, center, column nowrap);
  margin: 6em;
  @include title-p($font, $sizegeneral, 400, $color1);
  .nosotros-container {
    @include display(flex, center, center, row nowrap);
    padding: 1.2em 0 1.2em 0;
    .nosotros-img-container {
      img {
        width: 60vh;
        border-radius: 10px;
      }
    }
    .nosotros-p-container {
      p {
        padding: 0 3.1em 0 3.1em;
        text-align: justify;
      }
    }
  }
  .mision-container{
    @include display(flex, center, center, row nowrap);
    padding: 1.2em 0 1.2em 0;
    .mision-p-container {
      p {
        padding: 0 3.1em 0 3.1em;
        text-align: justify;
      }
    }
    .mision-img-container {
      img {
        width: 60vh;
        border-radius: 10px;
      }
    }
  }
  .valores-container{
    @include display(flex, center, center, row nowrap);
    padding: 1.2em 0 1.2em 0;
    .valores-img-container {
      img {
        width: 60vh;
        border-radius: 10px;
      }
    }
    .valores-p-container {
      flex-flow: column wrap;
      padding-left: 12.7em;
      p {
        padding: 0 3.1em 0 3.1em;
        text-align: justify;   
      }
    }
  }
  .servicios-container {
    @include display(flex, center, center, row nowrap);
    padding: 1.2em 0 1.2em 0;
    .servicios-p-container {
      flex-flow: column wrap;
      padding-right: 2em;
      p {
        padding: 0 3.1em 0 3.1em;
        text-align: justify;
      }
    }
    .servicios-img-container {
      img {
        width: 60vh;
        border-radius: 10px;
      }
    }
  }
}

// MEDIAS QUERY ------------------------------------->

@import "../base/mediaQuery";