// MEDIAS QUERY ------------------------------------->

// Media query tablet

@media screen and (max-width: 980px) {
  // Header-index ------------->

  #header-index {
    .text-box {
      text-align: center;
      div {
        .h1-title {
          font-size: $sizesubtitulos;
        }
      }
      div {
        p {
          font-size: $sizegeneral;
        }
      }
    }

    div {
      ul {
        .navbar-color-item {
          background-color: $color1;
          text-align: center;
        }
      }
    }
  }

  // Navbar-pages ------------->

  #navbar-color-item {
    background-color: $color1;
    text-align: center;
  }

  // Footer  ---------->
  #footer {
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    .column-footer-one {
      .footer-contacto {
        .h4-title {
          font-size: 1.5em;
        }
      }
      .paragraph-footer-2 {
        p {
          font-size: $sizegeneral;
        }
      }
    }
    .column-footer-three {
      .footer-list {
        align-items: center;

        ul {
          padding: 0;
          margin: 0;
          li {
            font-size: $sizegeneral;
          }
        }
      }
    }
  }

  // Index -------->

  .section-unidades-container {
    .div-titulos-unidades-container {
      div {
        .h2-title {
          font-size: 1.5em;
        }
      }
      div {
        p {
          font-size: $sizegeneral;
        }
      }
    }
    .div-unidades-container {
      div {
        height: 13em;
        width: 13em;
      }
      a {
        .h3-title {
          font-size: 1.5em;
        }
      }
    }
  }

  .section-nosotros-container {
    display: flex;
    flex-flow: column wrap;
    div {
      margin: auto;
      padding: auto;
      div {
        .h3-title {
          font-size: 1.1em;
        }
      }
      div {
        p {
          font-size: $sizegeneral;
        }
      }
    }
    div {
      .video-institucional-index {
        width: 50vw;
      }
    }
  }

  .section-formulario-container {
    .titulo-formulario-container {
      .h2-title {
        font-size: $sizegeneral;
      }
      p {
        font-size: 0.9em;
      }
    }
    .formulario-contacto {
      font-size: 0.9em;
      padding: 0 0 1em 1em;
    }
  }

  .section-suscribite-container {
    font-size: $sizegeneral;
    padding: 1em 0 1em 0;
  }

  // Inmobiliaria ---------------------------->

  .inmobiliaria-section-principal-container {
    padding: 10em 0 10em;
    align-items: center;
    .inmobiliaria-titulos-container {
      padding: 3.2em;
      .h1-title {
        font-size: $sizesubtitulos;
      }

      .h2-title {
        font-size: $sizegeneral;
      }
    }
  }

  .inmobilaria-barra-container {
    font-size: 0.9em;
  }

  .inmobiliaria-section-destacadas {
    .inmobiliaria-propiedades-destacadas {
      .h2-title {
        font-size: 1.2em;
      }
    }
  }

  .inmobiliaria-paragraph-propiedades,
  .inmobiliaria-paragraph-propiedades2 {
    font-size: 0.9em;
  }

  .inmobiliaria-section-emprendimientos {
    .inmobiliaria-emprendimientos {
      .h2-title {
        font-size: 1.2em;
      }
    }
  }

  // Financiera ----------------------->

  .financiera-section-principal-container {
    padding: 10m 5em 10em 5em;
    .h1-title {
      font-size: $sizeintermedio;
    }
    .h2-title {
      font-size: $sizesubtitulos;
    }
    p {
      font-size: $sizegeneral;
    }
  }

  .financiera-section-icon-container {
    padding: 6em 3em 0 em;
    .financiera-div-icon-container {
      padding-bottom: 4em;
      .financiera-icon-container {
        i {
          font-size: 8vh;
        }
        p {
          font-size: 0.9em;
          margin-top: 1.1em;
        }
      }
    }
    .financiera-icon-button-container {
      padding-top: 3.2em;
    }
  }

  .financiera-section-formulario-container {
    .financiera-titulo-container {
      .h2-title {
        font-size: $sizesubtitulos;
      }
    }
    .formulario-finacniera {
      padding: 1em;
      font-size: 0.7em;
    }
  }

  // Desarrolladora --------------------->

  .desarrolladora-section-principal-container {
    .h1-title {
      font-size: $sizeintermedio;
      padding: 0.2em 0 0.2em 0;
    }
    .h2-title {
      font-size: $sizesubtitulos;
    }
    p {
      font-size: $sizegeneral;
    }
  }

  .desarroladora-section-two-container {
    div {
      p {
        font-size: 0.9em;
      }
    }
  }

  .desarralladora-section-icon-container {
    .h3-title {
      font-size: 1.2em;
    }
    .desarrolladora-div-icon-container {
      .desarrolladora-icon-container {
        i {
          font-size: 8vh;
        }
        p {
          font-size: 0.9em;
        }
      }
    }
  }

  .desarrolladora-section-proyectos-container {
    div {
      .h2-title {
        font-size: $sizesubtitulos;
      }
    }
    div {
      div {
        div {
          div {
            p {
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }

  .desarrolladora-section-alianzas-container {
    div {
      .h2-title {
        font-size: $sizesubtitulos;
      }
    }
    div {
      div {
        div {
          div {
            p {
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }

  .desarrolladora-section-terceros-container {
    div {
      .h2-title {
        font-size: $sizesubtitulos;
      }
    }
    div {
      div {
        div {
          div {
            p {
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }

  // Nosotros

  .nosotros-section-principal-container {
    margin: 0;
    padding: 2em;
    font-size: 0.9em;
    div {
      .nosotros-img-container {
        img {
          width: 40vh;
        }
      }
    }
    div {
      .mision-img-container {
        img {
          width: 40vh;
        }
      }
    }
    div {
      .valores-img-container {
        img {
          width: 40vh;
        }
      }
    }
    div {
      .servicios-img-container {
        img {
          width: 40vh;
        }
      }
    }
  }

  // Contactos

  .contacto-section-principal-container {
    .h2-title {
      font-size: 1.5em;
    }
    p {
      font-size: 0.9em;
    }
  }

  .contacto-form-container {
    font-size: 0.5em;
  }

  .contacto-section-two-container {
    div {
      .h3-title {
        font-size: 1.2em;
        text-align: center;
      }
      p {
        font-size: 0.9em;
      }
    }
    .mapa-contacto {
      iframe {
        width: 50vw;
        height: 50vh;
      }
    }
  }

  // Vende

  .vende-section-principal-container {
    div {
      .h2-title {
        font-size: $sizesubtitulos;
      }
      p {
        font-size: $sizegeneral;
      }
    }
    .form-container {
      font-size: 0.7em;
      margin: 0;
      padding: 1em;
    }
  }

  .icon-top {
    a {
      #iconTop {
        font-size: 0.9em;
    }
  }
}
}

/* Media query mobile */

@media screen and (max-width: 590px) {
  // Header-index ------------->

  #header-index {
    .text-box {
      text-align: center;
      div {
        .h1-title {
          font-size: $sizesubtitulos;
        }
      }
      div {
        p {
          font-size: $sizegeneral;
        }
      }
    }

    div {
      ul {
        .navbar-color-item {
          background-color: $color1;
          text-align: center;
        }
      }
    }
  }

  // Navbar-pages ------------->

  #navbar-color-item {
    background-color: $color1;
    text-align: center;
  }

  // Footer  ---------->
  #footer {
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    .column-footer-one {
      .paragraph-footer {
        p {
          font-size: 12px;
        }
      }
    }
    .column-footer-two {
      .footer-contacto {
        .h4-title {
          font-size: 1em;
        }
      }
      .paragraph-footer-2 {
        p {
          font-size: 12px;
        }
      }
    }
    .column-footer-three {
      .footer-unidades {
        .h4-title {
          font-size: 1em;
        }
      }
      .footer-list {
        align-items: center;

        ul {
          padding: 0;
          margin: 0;
          li {
            font-size: 12px;
          }
        }
      }
    }
    .column-footer-four {
      div {
        .h4-title {
          font-size: 1em;
        }
      }
      .icon-redes {
        a {
          font-size: 1.1em;
        }
      }
    }
  }

  // Index -------->

  .section-unidades-container {
    .div-titulos-unidades-container {
      div {
        .h2-title {
          font-size: $sizegeneral;
        }
      }
      div {
        p {
          font-size: 0.9em;
        }
      }
    }
    .div-unidades-container {
      div {
        height: 9em;
        width: 9em;
      }
      a {
        .h3-title {
          font-size: 0.9em;
        }
      }
    }
  }

  .section-nosotros-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    div {
      margin: auto;
      padding: auto;
      div {
        .h3-title {
          font-size: 0.9em;
        }
      }
      div {
        p {
          font-size: 0.7em;
        }
      }
    }
    div {
      .video-institucional-index {
        width: 50vw;
      }
    }
  }

  .section-formulario-container {
    .titulo-formulario-container {
      .h2-title {
        font-size: 0.9em;
      }
      p {
        font-size: 0.7em;
      }
    }
    .formulario-contacto {
      font-size: 0.7em;
      margin: auto;
      padding: auto;
    }
  }

  .section-suscribite-container {
    font-size: 0.9em;
    margin: auto;
    padding: auto;
  }

  // Icon-top ----------------------------------------->

  .icon-top {
    a {
      #iconTop {
        font-size: 20px;
    }
  }
}

  // Inmobiliaria ---------------------------->
  .inmobiliaria-section-principal-container {
    padding: 8em 0 8em;
    align-items: center;
    .inmobiliaria-titulos-container {
      padding: 3em;
      .h1-title {
        font-size: 1.1em;
      }

      .h2-title {
        font-size: 0.9em;
      }
    }
  }

  .inmobilaria-barra-container {
    font-size: 0.7em;
  }

  .inmobiliaria-section-destacadas {
    .inmobiliaria-propiedades-destacadas {
      .h2-title {
        font-size: 1em;
      }
    }
  }

  .inmobiliaria-paragraph-propiedades,
  .inmobiliaria-paragraph-propiedades2 {
    font-size: 0.7em;
  }

  .inmobiliaria-section-emprendimientos {
    .inmobiliaria-emprendimientos {
      .h2-title {
        font-size: 1em;
      }
    }
  }

  // Financiera ----------------------->

  .financiera-section-principal-container {
    padding: 7em 5em 5em 5em;
    .h1-title {
      font-size: $sizesubtitulos;
      text-align: center;
    }
    .h2-title {
      font-size: $sizegeneral;
    }
    p {
      font-size: 0.7em;
    }
  }

  .financiera-section-icon-container {
    padding: 6em 3em 0 em;
    .financiera-div-icon-container {
      flex-flow: column wrap;
      padding-bottom: 4em;
      .financiera-icon-container {
        i {
          font-size: 6vh;
        }
        p {
          font-size: 0.7em;
          margin-top: 1.1em;
        }
      }
    }
    .financiera-icon-button-container {
      padding-top: 3.2em;
    }
  }

  .financiera-section-formulario-container {
    .financiera-titulo-container {
      .h2-title {
        font-size: 0.9em;
      }
      p {
        font-size: 0.7em;
      }
    }
    .formulario-finacniera {
      padding: 1em;
      font-size: 0.6em;
    }
  }
  // Desarrolladora --------------------->

  .desarrolladora-section-principal-container {
    .h1-title {
      font-size: $sizesubtitulos;
      font-weight: 700;
      padding: 0.1em 0 0.1em 0;
    }
    .h2-title {
      font-size: $sizegeneral;
    }
    p {
      font-size: 0.9em;
    }
  }

  .desarroladora-section-two-container {
    flex-direction: column;
    div {
      p {
        padding-top: 2em;
        font-size: 0.7em;
      }
    }
  }

  .desarralladora-section-icon-container {
    .h3-title {
      font-size: 1em;
      text-align: center;
    }
    .desarrolladora-div-icon-container {
      flex-direction: column;
      .desarrolladora-icon-container {
        i {
          font-size: 6vh;
        }
        p {
          font-size: 0.7em;
        }
      }
    }
  }

  .desarrolladora-section-proyectos-container {
    div {
      .h2-title {
        font-size: $sizegeneral;
      }
    }
    div {
      div {
        div {
          div {
            p {
              font-size: 0.7em;
            }
          }
        }
      }
    }
  }

  .desarrolladora-section-alianzas-container {
    div {
      .h2-title {
        font-size: $sizegeneral;
      }
    }
    div {
      div {
        div {
          div {
            p {
              font-size: 0.7em;
            }
          }
        }
      }
    }
  }

  .desarrolladora-section-terceros-container {
    div {
      .h2-title {
        font-size: $sizegeneral;
      }
    }
    div {
      div {
        div {
          div {
            p {
              font-size: 0.7em;
            }
          }
        }
      }
    }
  }

  // Nosotros

  .nosotros-section-principal-container {
    margin: 0;
    padding: 2em;
    font-size: 0.7em;
    flex-flow: column wrap;
    div {
      flex-flow: column wrap;
      .nosotros-img-container {
        img {
          width: 40vh;
        }
      }
    }
    div {
      flex-flow: column wrap;
      .mision-img-container {
        img {
          width: 40vh;
        }
      }
    }
    div {
      flex-flow: column wrap;
      margin: auto;
      .valores-img-container {
        img {
          width: 40vh;
        }
      }
      .valores-p-container {
        padding: 0;
        text-align: center;
      }
    }
    div {
      flex-flow: column wrap;
      .servicios-img-container {
        img {
          width: 40vh;
        }
      }
    }
  }

  // Vende

  .vende-section-principal-container {
    div {
      .h2-title {
        font-size: $sizegeneral;
      }
      p {
        font-size: 0.9em;
      }
    }
    .form-container {
      font-size: 0.7em;
      margin: 0;
      padding: 1em;
    }
  }
}
