// MEDIAS QUERY ------------------------------------->

// Media query tablet

@media screen and (max-width: 980px) {
  // Header-index ------------->

  #header-index {
    .text-box {
      text-align: center;
      div {
        .h1-title {
          font-size: $sizesubtitulos;
        }
      }
      div {
        p {
          font-size: $sizegeneral;
        }
      }
    }

    div {
      ul {
        .navbar-color-item {
          background-color: $color1;
          text-align: center;
        }
      }
    }
  }

  // Navbar-pages ------------->

  #navbar-color-item {
    background-color: $color1;
    text-align: center;
  }

  // Footer  ---------->
  #footer {
    @include display(flex, center, center, column nowrap);
    .column-footer-one {
      .footer-contacto {
        .h4-title {
          font-size: 1.5em;
        }
      }
      .paragraph-footer-2 {
        p {
          font-size: $sizegeneral;
        }
      }
    }
    .column-footer-three {
      .footer-list {
        align-items: center;

        ul {
          padding: 0;
          margin: 0;
          li {
            font-size: $sizegeneral;
          }
        }
      }
    }
  }

  // Index -------->

  .section-unidades-container {
    .div-titulos-unidades-container {
      div {
        .h2-title {
          font-size: 1.5em;
        }
      }
      div {
        p {
          font-size: $sizegeneral;
        }
      }
    }
    .div-unidades-container {
      div {
        width: 100%;
      }
      a {
        .h3-title {
          font-size: 1.5em;
        }
      }
    }
  }

  .section-nosotros-container {
    @include display(flex, center, center, column nowrap);
    div {
      margin: auto;
      padding: auto;
      div {
        .h3-title {
          font-size: 1.1em;
        }
      }
      div {
        p {
          font-size: $sizegeneral;
        }
      }
    }
    div {
      .video-institucional-index {
        width: 50vw;
      }
    }
  }

  .container-contacto {
    form {
      .h3-title {
        font-size: $sizegeneral;
      }
      p {
        font-size: 12px;
      }
      input {
        font-size: 12px;
      }
      textarea {
        font-size: 12px;
      }
      button {
        font-size: 12px;
      }
    }
  }

  .section-suscribite-container {
    padding: 20px;
    align-items: center;
    div {
      p {
        font-size: 20px;
      }
    }
  }

  // Inmobiliaria ---------------------------->

  .inmobiliaria-section-principal-container {
    padding: 10em 0 10em;
    align-items: center;
    .inmobiliaria-titulos-container {
      padding: 3.2em;
      .h1-title {
        font-size: $sizesubtitulos;
      }

      .h2-title {
        font-size: $sizegeneral;
      }
    }
  }

  .inmobilaria-barra-container {
    font-size: 0.9em;
  }

  .inmobiliaria-section-destacadas {
    .inmobiliaria-propiedades-destacadas {
      .h2-title {
        font-size: 1.2em;
      }
    }
  }

  .inmobiliaria-paragraph-propiedades,
  .inmobiliaria-paragraph-propiedades2 {
    font-size: 0.9em;
  }

  .inmobiliaria-section-emprendimientos {
    .inmobiliaria-emprendimientos {
      .h2-title {
        font-size: 1.2em;
      }
    }
  }

  // Financiera ----------------------->

  .financiera-section-principal-container {
    .h1-title {
      font-size: $sizeintermedio;
    }
    .h2-title {
      font-size: $sizesubtitulos;
    }
    p {
      font-size: $sizegeneral;
    }
  }

  .financiera-section-icon-container {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 50px;
    .financiera-icon-container {
      i {
        font-size: 40px;
      }
      p {
        text-align: center;
        font-size: 14px;
      }
    }
  }

  .financiera-section-solicitar-container {
    .financiera-titulo-container {
      .h3-title {
        font-size: $sizesubtitulos;
      }
    }
  }

  // Desarrolladora --------------------->

  .desarrolladora-section-principal-container {
    .h1-title {
      font-size: $sizeintermedio;
      padding: 0.2em 0 0.2em 0;
    }
    .h2-title {
      font-size: $sizesubtitulos;
    }
    p {
      font-size: $sizegeneral;
    }
  }

  .desarroladora-section-two-container {
    div {
      p {
        font-size: 0.9em;
      }
    }
  }

  .desarralladora-section-icon-container {
    .h3-title {
      font-size: 1.2em;
    }
    .desarrolladora-div-icon-container {
      .desarrolladora-icon-container {
        i {
          font-size: 40px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }

  .desarrolladora-section-proyectos-container {
    div {
      .h2-title {
        font-size: $sizesubtitulos;
      }
    }
    div {
      div {
        div {
          div {
            p {
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }

  .desarrolladora-section-alianzas-container {
    div {
      .h2-title {
        font-size: $sizesubtitulos;
      }
    }
    div {
      div {
        div {
          div {
            p {
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }

  .desarrolladora-section-terceros-container {
    div {
      .h2-title {
        font-size: $sizesubtitulos;
      }
    }
    div {
      div {
        div {
          div {
            p {
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }

  // Nosotros

  .nosotros-section-principal-container {
    display: flex;
    flex-flow: column nowrap;
    font-size: 14px;
    .nosotros-container {
      display: flex;
      flex-flow: column nowrap;
      .nosotros-img-container {
        img {
          width: 100%;
        }
      }
      .nosotros-p-container {
        p {
          padding: 10px;
          text-align: left;
        }
      }
    }
    .mision-container {
      display: flex;
      flex-flow: column nowrap;
      .mision-p-container {
        p {
          padding: 10px;
          text-align: left;
        }
      }
      .mision-img-container {
        img {
          width: 100%;
        }
      }
    }
    .valores-container {
      display: flex;
      flex-flow: column nowrap;
      .valores-img-container {
        img {
          width: 100%;
        }
      }
      .valores-p-container {
        padding: 0;
        p {
          padding: 10px;
          text-align: center;
        }
      }
    }
    .servicios-container {
      display: flex;
      flex-flow: column nowrap;
      .servicios-p-container {
        p {
          padding: 10px;
          text-align: center;
        }
      }
      .servicios-img-container {
        img {
          width: 100%;
        }
      }
    }
  }

  // Contactos

  .container-contacto {
    form {
      .h1-title {
        font-size: $sizesubtitulos;
      }
      p {
        font-size: 14px;
      }
      input {
        font-size: 12px;
      }
      textarea {
        font-size: 12px;
      }
      button {
        font-size: 12px;
      }
    }
  }

  .contacto-section-two-container {
    div {
      .h3-title {
        font-size: 1.2em;
        text-align: center;
      }
      p {
        font-size: 0.9em;
      }
    }
    .mapa-contacto {
      iframe {
        width: 50vw;
        height: 50vh;
      }
    }
  }

  // Vende

  .vende-section-principal-container {
    div {
      .h1-title {
        @include title-p($font, 22px, 500, $color2);
        text-align: center;
        padding: 1em 0 0.7em 0;
      }
      p {
        @include title-p($font, $sizegeneral, 500, $color2);
        text-align: center;
      }
    }
    .container-formulario-vende {
      form {
        input,
        textarea {
          @include title-p($font, $sizegeneral, 400, $color1);
        }
        button {
          @include title-p($font, $sizegeneral, 400, $color1);
        }
      }
    }
  }

  // Icon top

  #icon-top {
    a {
      #iconTop {
        font-size: 0.9em;
      }
    }
  }
}

/* Media query mobile */

@media screen and (max-width: 590px) {
  // Header-index ------------->

  #header-index {
    background-image: url(../../src/assets/fotos/principal.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;

    #fondo-video {
      display: none;
    }

    .text-box {
      padding: 20px;
      text-align: center;
      div {
        .h1-title {
          font-size: $sizesubtitulos;
        }
      }
      div {
        p {
          font-size: $sizegeneral;
        }
      }
    }

    div {
      ul {
        .navbar-color-item {
          background-color: $color1;
          text-align: center;
        }
      }
    }
  }

  // Navbar-pages ------------->

  #navbar-color-item {
    background-color: $color1;
    text-align: center;
  }

  // Footer  ---------->
  #footer {
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    .column-footer-one {
      .paragraph-footer {
        p {
          font-size: 12px;
        }
      }
    }
    .column-footer-two {
      .footer-contacto {
        .h4-title {
          font-size: 1em;
        }
      }
      .paragraph-footer-2 {
        p {
          font-size: 12px;
        }
      }
    }
    .column-footer-three {
      .footer-unidades {
        .h4-title {
          font-size: 1em;
        }
      }
      .footer-list {
        align-items: center;

        ul {
          padding: 0;
          margin: 0;
          li {
            font-size: 12px;
          }
        }
      }
    }
    .column-footer-four {
      div {
        .h4-title {
          font-size: 1em;
        }
      }
      .icon-redes {
        a {
          font-size: 1.1em;
        }
      }
    }
  }

  // Index -------->

  .section-unidades-container {
    .div-titulos-unidades-container {
      div {
        .h2-title {
          font-size: $sizegeneral;
        }
      }
      div {
        p {
          font-size: 0.9em;
        }
      }
    }
    .div-unidades-container {
      display: flex;
      flex-flow: column;
      align-items: center;
      div {
        margin: 10px;
        a {
          .h3-title {
            font-size: 0.9em;
          }
        }
      }
    }
  }

  .section-nosotros-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    div {
      margin: auto;
      padding: auto;
      div {
        .h3-title {
          font-size: 12px;
        }
      }
      div {
        p {
          font-size: 12px;
          text-align: center;
        }
      }
    }
    div {
      .video-institucional-index {
        width: 50vw;
      }
    }
  }

  .container-contacto {
    form {
      .h3-title {
        font-size: $sizegeneral;
      }
      p {
        font-size: 12px;
      }
      input {
        font-size: 12px;
      }
      textarea {
        font-size: 12px;
      }
      button {
        font-size: 12px;
      }
    }
  }

  .section-suscribite-container {
    div {
      p {
        font-size: 12px;
      }
    }
    form {
      padding-right: 20px;
    }
  }

  // Inmobiliaria ---------------------------->
  .inmobiliaria-section-principal-container {
    padding: 20px;
    align-items: center;
    .inmobiliaria-titulos-container {
      .h1-title {
        font-size: 20px;
      }
      .h2-title {
        font-size: 12px;
      }
    }
  }

  .inmobiliaria-section-destacadas {
    .inmobiliaria-propiedades-destacadas {
      .h2-title {
        font-size: 14px;
      }
    }
  }

  .inmobiliaria-paragraph-propiedades,
  .inmobiliaria-paragraph-propiedades2 {
    font-size: 12px;
  }

  .inmobiliaria-section-emprendimientos {
    .inmobiliaria-emprendimientos {
      .h2-title {
        font-size: 14px;
      }
    }
  }

  // Financiera ----------------------->

  .financiera-section-principal-container {
    .h1-title {
      font-size: 20px;
    }
    .h2-title {
      font-size: $sizegeneral;
    }
    p {
      font-size: 12px;
    }
  }

  .financiera-section-icon-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0;
    padding: 50px;
    .financiera-icon-container {
      i {
        font-size: 30px;
      }
      p {
        text-align: center;
        font-size: 12px;
      }
    }
  }

  .financiera-section-solicitar-container {
    .financiera-titulo-container {
      .h3-title {
        font-size: $sizegeneral;
      }
      p {
        font-size: 12px;
      }
    }
  }
  // Desarrolladora --------------------->

  .desarrolladora-section-principal-container {
    padding: 50px;
    .h1-title {
      font-size: 20px;
    }
    .h2-title {
      font-size: $sizegeneral;
      text-align: left;
    }
    p {
      font-size: 12px;
      text-align: left;
    }
  }

  .desarroladora-section-two-container {
    margin: 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    div {
      p {
        margin: 0;
        padding: 1.1em;
        font-size: 12px;
      }
    }
  }

  .desarralladora-section-icon-container {
    margin: 0;
    .h3-title {
      font-size: $sizegeneral;
      text-align: center;
      margin-bottom: 3em;
    }
    .desarrolladora-div-icon-container {
      flex-direction: column;
      align-items: center;
      .desarrolladora-icon-container {
        i {
          font-size: 30px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }

  .desarrolladora-section-proyectos-container {
    div {
      .h2-title {
        font-size: $sizegeneral;
      }
    }
    div {
      div {
        div {
          div {
            p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .desarrolladora-section-alianzas-container {
    div {
      .h2-title {
        font-size: $sizegeneral;
      }
    }
    div {
      div {
        div {
          div {
            p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .desarrolladora-section-terceros-container {
    div {
      .h2-title {
        font-size: $sizegeneral;
      }
    }
    div {
      div {
        div {
          div {
            p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  // Nosotros

  .nosotros-section-principal-container {
    @include display(flex, center, center, column nowrap);
    font-size: 12px;
    .nosotros-container {
      @include display(flex, center, center, column nowrap);
      .nosotros-img-container {
        img {
          width: 100%;
        }
      }
      .nosotros-p-container {
        p {
          padding: 10px;
          text-align: left;
        }
      }
    }
    .mision-container {
      @include display(flex, center, center, column nowrap);
      .mision-p-container {
        p {
          padding: 10px;
          text-align: left;
        }
      }
      .mision-img-container {
        img {
          width: 100%;
        }
      }
    }
    .valores-container {
      @include display(flex, center, center, column nowrap);
      .valores-img-container {
        img {
          width: 100%;
        }
      }
      .valores-p-container {
        padding: 0;
        p {
          padding: 10px;
          text-align: center;
        }
      }
    }
    .servicios-container {
      @include display(flex, center, center, column nowrap);
      .servicios-p-container {
        p {
          padding: 10px;
          text-align: center;
        }
      }
      .servicios-img-container {
        img {
          width: 100%;
        }
      }
    }
  }

  // Contacto ------------------------------------>

  .container-contacto {
    form {
      .h1-title {
        font-size: $sizegeneral;
      }
      p {
        font-size: 12px;
      }
      input {
        font-size: 12px;
      }
      textarea {
        font-size: 12px;
      }
      button {
        font-size: 12px;
      }
    }
  }

  .contacto-section-two-container {
    @include display(flex, center, center, column nowrap);
  }

  // Vende

  .vende-section-principal-container {
    div {
      .h1-title {
        @include title-p($font, 18px, 600, $color2);
        text-align: center;
        padding: 1em 0 0.7em 0;
      }
      p {
        @include title-p($font, 12px, 500, $color2);
        text-align: center;
      }
    }
    .container-formulario-vende {
      form {
        input,
        textarea {
          @include title-p($font, 12px, 400, $color1);
        }
        button {
          @include title-p($font, 12px, 400, $color1);
        }
      }
    }
  }

  // Icon-top ----------------------------------------->

  #icon-top {
    a {
      #iconTop {
        font-size: 20px;
      }
    }
  }

  // Barra de busqueda -------------------------->
  .barra-busqueda-propiedades {
    #barra-container {
      @include display(flex, space-evenly, center, column nowrap);
    }
    #buttons-barra {
      margin: 10px;
    }
    #button-busqueda {
      margin: 10px;
    }
  }
}
