// SETEOS GENERALES ---------------------------->

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}


// Base --------------------------------------->

@import "base/variables";
@import "base/mixins";


// Layout ---------------------------------->

@import "layout/footer";
@import "layout/navbar-pages";

// Pages ---------------------------------->

@import "pages/header-index";
@import "pages/index";
@import "pages/inmobiliaria";
@import "pages/financiera";
@import "pages/desarrolladora";
@import "pages/nosotros";
@import "pages/contacto";
@import "pages/vende";

// Sección icon-top ----------------------------------------->

.icon-top a {
  position: fixed;
  right: 0%;
  bottom: 0%;
  margin-right: 0.2em;
  color: darken($color3, 20%);
  font-size: 4em;

  &:hover {
    color: lighten($color1, 20%);
  }
}

